.is-hidden {
  display: none;
}
.hero-body a {
  border-bottom: 2px solid white;
}
.hero-body a:hover {
  border-bottom: none;
}

.button:hover,
.button:focus {
   box-shadow: 0.35em 0.35em 0 rgba(0, 97, 116, 0.8);
   transform: translateY(-0.15em);
}
